{% extends 'base.html' %}

    {% block content %}
    <div class="overlay">
    <h1>QUOTES BLOG </h1>

    <div class="well-lg" id="random">
        <div class="card" id="kadi">
            <div class="card-body">
                <h5 class="card-title">Author: {{quote.author}}</h5>
                <p class="card-text">{{quote.quote}}</p>
                <a href="{{quote.permalink}}" class="btn btn-success">MORE DETAILS</a>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
